<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="userLoginBusinessManager"
		class="com.hotel.business.userinformation.impl.UserLoginBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="userLoginDao" />
		</property>
		<property name="userLoginBusiness">
			<ref bean="userLoginBusiness" />
		</property>
	</bean>
	<bean id="userLoginBusiness"
		class="com.hotel.business.userinformation.impl.UserLoginBusinessImpl">
		<property name="defaultDao">
			<ref bean="userLoginDao" />
		</property>
	</bean>
	<bean id="userInformationBusinessManager"
		class="com.hotel.business.userinformation.impl.UserInformationBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="userInformationDao" />
		</property>
		<property name="userInformationBusiness">
			<ref bean="userInformationBusiness" />
		</property>
	</bean>
	<bean id="userInformationBusiness"
		class="com.hotel.business.userinformation.impl.UserInformationBusinessImpl">
		<property name="defaultDao">
			<ref bean="userInformationDao" />
		</property>
	</bean>
	<bean id="rolesBusiness" class="com.hotel.business.role.impl.RolesBusinessImpl">
		<property name="defaultDao">
			<ref bean="rolesDao" />
		</property>
	</bean>
	<bean id="rolesBusinessManager" class="com.hotel.business.role.impl.RolesBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="rolesDao" />
		</property>
		<property name="rolesBusiness">
			<ref bean="rolesBusiness" />
		</property>
	</bean>
	<bean id="statesBusiness" class="com.hotel.business.states.impl.StatesBusinessImpl">
		<property name="defaultDao">
			<ref bean="statesDao" />
		</property>
	</bean>
	<bean id="statesBusinessManager"
		class="com.hotel.business.states.impl.StatesBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="statesDao" />
		</property>
		<property name="statesBusiness">
			<ref bean="statesBusiness" />
		</property>
	</bean>
	<bean id="countryBusiness" class="com.hotel.business.country.impl.CountryBusinessImpl">
		<property name="defaultDao">
			<ref bean="countryDao" />
		</property>
	</bean>
	<bean id="countryBusinessManager"
		class="com.hotel.business.country.impl.CountryBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="countryDao" />
		</property>
		<property name="countryBusiness">
			<ref bean="countryBusiness" />
		</property>
	</bean>

	<bean id="alertBusiness" class="com.hotel.business.alert.impl.AlertBusinessImpl">
		<property name="defaultDao">
			<ref bean="alertDao" />
		</property>
	</bean>
	<bean id="alertBusinessManager" class="com.hotel.business.alert.impl.AlertBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="alertDao" />
		</property>
		<property name="alertBusiness">
			<ref bean="alertBusiness" />
		</property>
	</bean>
	
	<bean id="roomTypeBusiness" class="com.hotel.business.roomtype.impl.RoomTypeBusinessImpl">
		<property name="defaultDao">
			<ref bean="roomTypeDao" />
		</property>
	</bean>
	<bean id="roomTypeBusinessManager" class="com.hotel.business.roomtype.impl.RoomTypeBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="roomTypeDao" />
		</property>
		<property name="roomTypeBusiness">
			<ref bean="roomTypeBusiness" />
		</property>
	</bean>
	
	<bean id="roomBusiness" class="com.hotel.business.room.impl.RoomBusinessImpl">
		<property name="defaultDao">
			<ref bean="roomDao" />
		</property>
	</bean>
	<bean id="roomBusinessManagerImpl" class="com.hotel.business.room.impl.RoomBusinessManagerImpl">
		<property name="defaultDao">
			<ref bean="roomDao" />
		</property>
		<property name="roomBusiness">
			<ref bean="roomBusiness" />
		</property>
	</bean>
</beans>