<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


	<bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
		<property name="environment">
			<props>
				<prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory
				</prop>
				<prop key="java.naming.provider.url">jnp://localhost:1099</prop>
			</props>
		</property>
	</bean>
	<bean id="remote" class="org.springframework.jndi.JndiObjectFactoryBean"
		lazy-init="true">
		<property name="jndiTemplate">
			<ref local="jndiTemplate" />
		</property>
	</bean>
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="facadeUserInformation" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeUserInformation" />
	</bean>
	<bean id="facadeUserLogin" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeUserLogin" />
	</bean>
	<bean id="facadeRoles" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeRoles" />
	</bean>
	<bean id="facadeCountry" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeCountry" />
	</bean>
	<bean id="facadeStates" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeStates" />
	</bean>
	<bean id="facadeAlert" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeAlert" />
	</bean>
	<bean id="facadeRoom" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeRoom" />
	</bean>
	<bean id="facadeRoomType" parent="remote" lazy-init="true">
		<property name="jndiName" value="facadeRoomType" />
	</bean>
</beans>
